<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
           <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <behaviors>
        <serviceBehaviors>
            <behavior name="MyDefaultBehavior">
                <serviceMetadata httpGetEnabled="true" />
            </behavior>
        </serviceBehaviors>
    </behaviors>
    <bindings>
        <basicHttpBinding>
            <binding name="MyDefaultBinding" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000">
                <readerQuotas maxDepth="500" maxArrayLength="20000000" maxStringContentLength="20000000"/>
            </binding>
        </basicHttpBinding>
    </bindings>
    <services> <!-- This appears missing from your web.config -->
        <service behaviorConfiguration="MyDefaultBehavior" name="CloudQuakeDemo.Web.Services.AzureStorage">
            <endpoint address="" binding="basicHttpBinding" contract="CloudQuakeDemo.Web.Services.IAzureStorage" bindingConfiguration="MyDefaultBinding" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
    </services>
    </system.serviceModel>
</configuration>
