<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAzureStorage" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52045/Services/AzureStorage.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAzureStorage"
                contract="ServiceReference1.IAzureStorage" name="BasicHttpBinding_IAzureStorage" />
        </client>
    </system.serviceModel>
</configuration>
